## Web Scraping Assignment 4

In [1]:
import selenium
import pandas as pd
import numpy as np
import requests
import time
import re
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException

### 1.  Scrape the details of most viewed videos on YouTube from Wikipedia: 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ 

You need to find following details: 

A) Rank 

B) Name 

C) Artist 

D) Upload date 

E) Views

In [4]:
url =  'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [5]:
num =[]
vid =[]
uploadr = []
views = []
date = []

In [6]:
for i in range(1,31):
    num_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[1]")
    try:
      num.append(num_tag.text)
    except NoSuchElementException:
      num.append("-")
       
for i in range(1,31):
    vid_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[2]")
    try:
        vid.append(vid_tag.text.strip().split('"')[1]) #appending only the names of the videos
    except NoSuchElementException:
        vid.append("-")
 
for i in range(1,31):
    uploadr_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[3]")
    try:
        uploadr.append(uploadr_tag.text)
    except NoSuchElementException:
        uploadr.append("-")
        
for i in range(1,31):
    views_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[4]")
    try:
        views.append(views_tag.text)
    except NoSuchElementException:
        views.append("-")
        
        
for i in range(1,31):
    date_tag=driver.find_element_by_xpath(f"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{i}]/td[5]")
    try:
        date.append(date_tag.text)
    except NoSuchElementException:
        date.append("-")

topyoutubevids = {"Rank":num,"Name":vid,"Artist":uploadr,"Upload Date":date,"Views(Billions)":views}
topyoutubevidsDF = pd.DataFrame(topyoutubevids)

In [7]:
topyoutubevidsDF

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",9.27
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.52
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.68
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.45
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.25
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.49
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.46
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.46
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.28
9,10.,Gangnam Style,Psy,"July 15, 2012",4.18
10,11.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.14
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.57
12,13.,Sugar,Maroon 5,"January 14, 2015",3.54
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.46
14,15.,Roar,Katy Perry,"September 5, 2013",3.42
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.38
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.31
17,18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.24
18,19.,Dark Horse,Katy Perry,"February 20, 2014",3.14
19,20.,Faded,Alan Walker,"December 3, 2015",3.13
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.11
21,22.,Shake It Off,Taylor Swift,"August 18, 2014",3.09
22,23.,Lean On,Major Lazer,"March 22, 2015",3.09
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.09
24,25.,Let Her Go,Passenger,"July 25, 2012",3.07
25,26.,Axel F,Crazy Frog,"June 16, 2009",2.98
26,27.,Mi Gente,J Balvin,"June 29, 2017",2.97
27,28.,Perfect,Ed Sheeran,"November 9, 2017",2.94
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.93
29,30.,Hello,Adele,"October 22, 2015",2.88

### 2. Scrape the details team India’s international fixtures from bcci.tv. 

Url = https://www.bcci.tv/. 

You need to find following details: 

A) Match title (I.e. 1st ODI) 

B) Series 

C) Place 

D) Date 

E) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
url =  'https://www.bcci.tv/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [10]:
intbtn = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')
try:
    intbtn.click() #clicking on International button
except ElementNotInteractableException:
    pass
     
fixbtn =  driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
try: 
    fixbtn.click() #clicking on Fixtures button
except ElementNotInteractableException:
    pass

In [11]:
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [12]:
Match_title_tag = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
Series_tag = driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")
Place_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
Date_tag = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']//strong")
Time_tag = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")

In [13]:
for m in Match_title_tag:
    try:
        Match_title.append(m.text)
    except NoSuchElementException:
        Match_title.append("-")
for s in Series_tag:
    try:
        Series.append(s.text.replace("\n"," "))
    except NoSuchElementException:
        Series.append("-")
        
for p in Place_tag:
    try:
        Place.append(p.text)
    except NoSuchElementException:
        Place.append("-")
        
for d in Date_tag:
    try:
        Date.append(d.text)
    except NoSuchElementException:
        Date.append("-")
for t in Time_tag:
    try:
        Time.append(t.get_attribute("innerHTML").split("</strong> ")[1]) #getting the time values
    except NoSuchElementException:
        Time.append("-")

In [14]:
Cricket = {'Match Title': Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}

In [15]:
CricketDF=pd.DataFrame(Cricket)

In [16]:
CricketDF

,Match Title,Series,Place,Date,Time
0,4th Test,TEST ENGLAND V INDIA 2021,"The Oval, London",,15:30 IST
1,5th Test,TEST ENGLAND V INDIA 2021,"Old Trafford, Manchester",,15:30 IST
2,Match 16,T20I 2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST
3,Match 28,T20I 2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST
4,Match 33,T20I 2021 ICC MEN'S T20 WORLD CUP,"Sheikh Zayed Cricket Stadium, Abu Dhabi",,19:30 IST
5,Match 37,T20I 2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST
6,Match 42,T20I 2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST

### 3. Scrape the details of selenium exception from guru99.com. 

Url = https://www.guru99.com/ 

You need to find following details: 

A) Name 

B) Description 

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [17]:
url =  'https://www.guru99.com/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [18]:
selbtn = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
try:
    selbtn.click() #clicking on Selenium button
except ElementNotInteractableException:
    pass
     
tutbtn =  driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
try: 
    tutbtn.click() #clicking on Exceptions Tutorial button
except ElementNotInteractableException:
    pass

In [19]:
Name = []
desc = []

In [20]:
for i in range(2,43):
    Name_tag = driver.find_element_by_xpath(f"//*[@id='post-1953']/div/div/table/tbody/tr[{i}]/td[1]")
    try:
        Name.append(Name_tag.text)
    except NoSuchElementException:
        Name.append("-")
for i in range(2,43):    
    desc_tag = driver.find_element_by_xpath(f"//*[@id='post-1953']/div/div/table/tbody/tr[{i}]/td[2]")
    try:
        desc.append(desc_tag.text)
    except NoSuchElementException:
        desc.append("-")

In [21]:
Excep = {'Name': Name,'Description':desc}

In [22]:
ExceptionDF = pd.DataFrame(Excep)

In [23]:
ExceptionDF

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com. 

Url = http://statisticstimes.com/ 

You have to find following details: 

A) Rank 

B) State 

C) GSDP at current price (19-20) 

D) GSDP at current price (18-19) 

E) Share(18-19) 

F) GDP($ billion) 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [46]:
url =  'http://statisticstimes.com/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [47]:
economy = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [48]:
gdp = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [49]:
gdp = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [50]:
state=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
    for i in name:
        state.append(i.text)
except NoSuchElementException:
    state.append('N/A')
except StaleElementReferenceException:
    state.append('N/A')

In [51]:
rank=[i for i in range(1,len(state)+1)]

In [52]:
gsdp20=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
    for i in name:
        gsdp20.append(i.text)
except NoSuchElementException:
    gsdp20.append('N/A')
except StaleElementReferenceException:
    gsdp20.append('N/A')

In [53]:
gsdp19=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
    for i in name:
        gsdp19.append(i.text)
except NoSuchElementException:
    gsdp19.append('N/A')
except StaleElementReferenceException:
    gsdp19.append('N/A')

In [54]:
share=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
    for i in name:
        share.append(i.text)
except NoSuchElementException:
    share.append('N/A')
except StaleElementReferenceException:
    share.append('N/A')

In [55]:
gdp=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
    for i in name:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('N/A')
except StaleElementReferenceException:
    gdp.append('N/A')

In [56]:
dataframe=pd.DataFrame()
dataframe['Rank']=rank
dataframe['State']=state
dataframe['GSDP at current price (19-20)']=gsdp20
dataframe['GSDP at current price (18-19)']=gsdp19
dataframe['Share (18-19)']=share
dataframe['GDP ($billion)']=gdp
dataframe.style.hide_index()

### 5. Scrape the details of trending repositories on Github.com. 

Url  = https://github.com/ 

You have to find the following details: 

A) Repository title 

B) Repository description 

C) Contributors count 

D) Language used 
 
 
 
ASSIGNMENT 
  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [79]:
url =  'https://github.com/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [81]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div[3]/nav/a[4]")
try:
    explore.click()
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [82]:
trending = driver.find_element_by_xpath("//*[@id='js-pjax-container']/div[1]/nav/div/a[3]")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [84]:
name=[]
try:
    names=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [85]:
desc=[]
try:
    names=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in names:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('N/A')

In [87]:
urls=[]
counts=[]
match_page=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a')
for i in match_page:
    urls.append(i.get_attribute('href'))

In [88]:
lang=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        if 'Languages' in listy:
            lang.append(listy[listy.index('Languages')+1])
        else:
            lang.append('N/A')
except NoSuchElementException:
    lang.append('N/A')

In [89]:
counts=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        for j in listy:
            if j.split()[0]=='Contributors':
                counts.append(j.split()[1])
                break
        else:
            counts.append('N/A')
except NoSuchElementException:
    counts.append('N/A')

In [92]:
dataframe=pd.DataFrame()
dataframe['Repository title']=name[0:23]
dataframe['Repository description']=desc[0:23]
dataframe['Language used']=lang[0:23]
dataframe['Contributors count']=counts[0:23]
dataframe.style.hide_index()

### 6. Scrape the details of top 100 songs on billboard.com. 

Url = https://www.billboard.com/ 

You have to find the following details: 

A) Song name 

B) Artist name 

C) Last week rank 

D) Peak rank 

E) Weeks on board 

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [94]:
url =  'https://www.billboard.com/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [95]:
top100_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a") #hot100 button
try:
    top100_btn.click()#click explore button
except ElementNotInteractableException:
    pass

In [96]:
Song = []
Artist = []
Lastweek = []
Peak = []
Weeks = []

In [97]:
for i in range(1,110):
    try:
        Song_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[1]")
        Song.append(Song_tag.text)
    except NoSuchElementException:
        Song.append("-")
        
for i in range(1,110):
    try:
        Artist_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[2]")
        Artist.append(Artist_tag.text)
    except NoSuchElementException:
        Artist.append("-")
        
for i in range(1,110):
    try:
        Lastweek_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[3]/span[1]")
        Lastweek.append(Lastweek_tag.text.replace("LW",""))
    except NoSuchElementException:
        Lastweek.append("-")

for i in range(1,110):
    try:
        Peak_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[3]/span[2]")
        Peak.append(Peak_tag.text.replace("Pk",""))
    except NoSuchElementException:
        Peak.append("-")

for i in range(1,110):
    try:
        Weeks_tag = driver.find_element_by_xpath(f"/html/body/main/div/div/div[7]/div/ol/li[{i}]/button/span[2]/span[3]/span[3]")
        Weeks.append(Weeks_tag.text.replace("WoC",""))
    except NoSuchElementException:
        Weeks.append("-")

In [98]:
Top100 = {'Song name': Song,'Artist name':Artist,'Last week rank':Lastweek,'Peak rank':Peak,'Weeks on board':Weeks}

Top100 = pd.DataFrame(Top100)

Top100

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Stay,The Kid LAROI & Justin Bieber,,,
1,Bad Habits,Ed Sheeran,,,
2,Good 4 U,Olivia Rodrigo,,,
3,Kiss Me More,Doja Cat Featuring SZA,,,
4,Industry Baby,Lil Nas X & Jack Harlow,,,
...,...,...,...,...,...
104,Tick Tock,Young Thug,,,
105,Permission To Dance,BTS,,,
106,AM,Nio Garcia X J Balvin X Bad Bunny,,,
107,Time Heals,Rod Wave,,,
108,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,,,

### 7. Scrape the details of Data science recruiters from naukri.com. 

Url = https://www.naukri.com/ 

You have to find the following details: 

A) Name 

B) Designation 

C) Company 

D) Skills they hire for 

E) Location 

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 

click on search. All this should be done through code

In [100]:
url =  'https://www.naukri.com/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [101]:
recruit_btn=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div") #recruiters button
try:
    recruit_btn.click()#click recruiters button
except ElementNotInteractableException:
    pass
driver.switch_to.window(driver.window_handles[1])#switch to recruiters tab

In [102]:
jobsearch = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
jobsearch

In [103]:
jobsearch.send_keys("Data science")

In [104]:
srchbtn = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
srchbtn.click()

In [105]:
Name = []
Designation = []
Company = []
Skills = []

In [106]:
Name_tag = driver.find_elements_by_xpath("//a[@class='ellipsis']/span")
Designation_tag = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
Company_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
Skills_tag = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
Location_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/span/small")

In [107]:
for n in Name_tag:
    try:
        Name.append(n.text)
    except NoSuchElementException:
        Name.append("-")
for d in Designation_tag:
    try:
        Designation.append(d.text)
    except NoSuchElementException:
        Designation.append("-")


for c in Company_tag:
    try:
        Company.append(c.text)
    except NoSuchElementException:
        Company.append("-")


for s in Skills_tag:
    try:
        Skills.append(s.text)
    except NoSuchElementException:
        Skills.append("-")

In [108]:
nameurl = []

In [109]:
name_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

In [110]:
for r in name_tag:
    try:
       nameurl.append(r.get_attribute("href"))
    except NoSuchElementException:
        nameurl.append("-")

In [111]:
Location = []

In [112]:
for i in nameurl:
    driver.get(i)
    time.sleep(5)
    try:   
        Location_tag = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        Location.append(Location_tag.text)
    except NoSuchElementException:
        Location.append('-')

In [113]:
jobs = {'Name': Name,'Designation':Designation,'Company':Company,'Skills they hire for':Skills,'Location':Location}

jobsDF = pd.DataFrame(jobs)

jobsDF

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",

### 8. Scrape the details of Highest selling novels. 

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ 

You have to find the following details:  

A) Book name 

B) Author name 

C) Volumes sold 

D) Publisher 

E) Genre

In [115]:
url =  ' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [116]:
Book= []
Author = []
Volumes = []
Publisher = []
Genre = []

In [117]:
for i in range(1,101):
    try:
        Book_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[2]")
        Book.append(Book_tag.text)
    except NoSuchElementException:
        Book.append("-")
        
for i in range(1,101):
    try:
        Author_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[3]")
        Author.append(Author_tag.text)
    except NoSuchElementException:
        Author.append("-")
        
for i in range(1,101):
    try:
        Volumes_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[4]")
        Volumes.append(Volumes_tag.text)
    except NoSuchElementException:
        Volumes.append("-")

for i in range(1,101):
    try:
        Publisher_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[5]")
        Publisher.append(Publisher_tag.text)
    except NoSuchElementException:
        Publisher.append("-")

for i in range(1,101):
    try:
        Genre_tag = driver.find_element_by_xpath(f"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[{i}]/td[6]")
        Genre.append(Genre_tag.text)
    except NoSuchElementException:
        Genre.append("-")

In [118]:
Top100Books = {'Book name': Book,'Author name':Author,'Volumes sold':Volumes,'Publisher':Publisher,'Genre':Genre}

Top100BooksDF = pd.DataFrame(Top100Books)

Top100BooksDF

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com. 

Url =  https://www.imdb.com/list/ls095964455/ 

You have to find the following details: 

A) Name 

B) Year span 

C) Genre 

D) Run time 

E) Ratings 

F) Votes

In [120]:
url =  'https://www.imdb.com/list/ls095964455/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [121]:
Name = []
Year = []
Genre = []
Runtime = []
Ratings = []
Votes = []

In [122]:
for i in range(1,101):
    try:
        Name_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/h3/a")
        Name.append(Name_tag.text)
    except NoSuchElementException:
        Name.append("-")
        
for i in range(1,101):
    try:
        Year_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/h3/span[2]")
        Year.append(Year_tag.text)
    except NoSuchElementException:
        Year.append("-")
        
for i in range(1,101):
    try:
        Genre_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[1]/span[5]")
        Genre.append(Genre_tag.text)
    except NoSuchElementException:
        Genre.append("-")

for i in range(1,101):
    try:
        Runtime_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[1]/span[3]")
        Runtime.append(Runtime_tag.text)
    except NoSuchElementException:
        Runtime.append("-")

for i in range(1,101):
    try:
        Ratings_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/div[1]/div[1]/span[2]")
        Ratings.append(Ratings_tag.text)
    except NoSuchElementException:
        Ratings.append("-")
for i in range(1,101):
    try:
        Votes_tag = driver.find_element_by_xpath(f"/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[4]/span[2]")
        Votes.append(Votes_tag.text)
    except NoSuchElementException:
        Votes.append("-")

In [123]:
Top100shows = {'Name': Name,'Year span':Year,'Genre':Genre,'Run time':Runtime,'Ratings':Ratings,'Votes':Votes}

Top100showssDF = pd.DataFrame(Top100shows)

Top100showssDF

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,867,187"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"902,795"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"894,430"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"269,214"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,467"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,478"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,355"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,334"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,480"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"198,158"

### 10. Details of Datasets from UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/ 

You have to find the following details: 

A) Dataset name 

B) Data type 

C) Task 

D) Attribute type 

E) No of instances 

F) No of attribute 

G) Year 

Note: - from the home page you have to go to the Show All Dataset page through code.

In [124]:
url =  'https://archive.ics.uci.edu/'
driver =  webdriver.Chrome("chromedriver.exe")
driver.get(url)

In [125]:
dtbtn = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a') #view all data sets button
try:
    dtbtn.click() #clicking on view all data sets button
except ElementNotInteractableException:
    pass

In [126]:
Name = []
Datatype = []
Task = []
Attribute = []
instances = []
attribute_no = []
Year = []

In [127]:
for i in range(1,590):
    try:
        Name_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[1]/table/tbody/tr/td[2]/p/b/a")
        Name.append(Name_tag.text)
    except NoSuchElementException:
        Name.append("-")
        
for i in range(1,590):
    try:
        Datatype_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]/p")
        Datatype.append(Datatype_tag.text)
    except NoSuchElementException:
        Datatype.append("-")
        
for i in range(1,590):
    try:
        Task_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p")
        Task.append(Task_tag.text)
    except NoSuchElementException:
        Task.append("-")

for i in range(1,590):
    try:
        Attribute_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]/p")
        Attribute.append(Attribute_tag.text)
    except NoSuchElementException:
        Attribute.append("-")

for i in range(1,590):
    try:
        instances_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]/p")
        instances.append(instances_tag.text)
    except NoSuchElementException:
        instances.append("-")
for i in range(1,590):
    try:
        attribute_no_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p")
        attribute_no.append(attribute_no_tag.text)
    except NoSuchElementException:
        Votes.append("-")
for i in range(1,590):
    try:
        Year_tag = driver.find_element_by_xpath(f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]/p")
        Year.append(Year_tag.text)
    except NoSuchElementException:
        Year.append("-")

In [128]:
len(Task)

589

In [129]:
repositories = {'Dataset name': Name,'Data type':Datatype,'Task':Task,'Attribute type':Attribute,'No of instances':instances,'No of attribute':attribute_no,'Year':Year}

repositoriesDF = pd.DataFrame(repositories)

repositoriesDF.drop(index = 0,inplace = True)

In [130]:
repositoriesDF

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021